{% extends 'SkreenHouseFactoryPartnersBundle::programmetv.html.twig' %}

{% block title %}title{% endblock %}
{% block description %}desc{% endblock %}

{% block content %}
{% stylesheets
    '@SkreenHouseFactoryPartnersBundle/Resources/public/less/programmetvcom.less'
      filter='lessphp,?yui_css'
      output='css/programmetvcom.css'
      %}
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}

<div id="view-home">
 {#
  <p class="sk-menu">
    <a href="{{ path('p_programmetvcom') }}">Replay</a>
    <a href="{{ path('p_programmetvcom_home', {home: 'vod'}) }}">Vidéo à la demande</a>
    <a href="{{ path('p_programmetvcom_home', {home: 'cinema'}) }}">Cinéma</a>
  </p>
  #}
  {#
  <div class="pull-right">
    <form class="search" id="myskreen-search" action="http://www.myskreen.com/programmes/" method="get" accept-charset="utf-8">
    <input type="text" name="q" value="" placeholder="Un programme, un acteur, une chaîne, etc."><input type="submit" value="Rechercher avec mySkreen">
    </form>
  </div>
  #}
  {% for slider in home.sliders|to_array if slider.id is defined and slider.id not in [4586427] %}
    {% if loop.first %}
      <div class="main-slider">
      <div class="main-slider-title">
      <h1>{{ title }}</h1>
      </div>
      <div class="carousel-container">{% include 'SkreenHouseFactoryV3Bundle:Main:_carousel.html.twig' with {slider: slider, skip_autoload: true, skip_like: true} %}</div>
      </div>
    {% else %}
      {% if loop.index == 2 %}<div class="container">{% else %}<hr/>{% endif %}
      <a name="{{ slider.name }}"></a>
      {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}
    {% endif %}
  {% endfor %}
  </div>
  <br/>
  <p align="right"><a href="http://www.myskreen.com">Replay TV</a> avec mySkreen</p>
</div>

{% javascripts
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.10.2.min.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.cookies.min.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.min.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/modernizr.min.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/respond.min.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/api.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/slider.js' 
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/_default.js'
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/helpers.js' 
  '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/_ui.js' 

    filter='?yui_js' 
    output='js/compiled/partners.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
API.init();
UiView.init($('#view-home'));

setTimeout(function(){
  $('#myskreen-search').live('submit', function(e){
    e.preventDefault();
    document.location = $(this).attr('action') + encodeURIComponent($(this).find('input[name="q"]').attr('value'));
    return false;
  });
}, 1000);

jQuery.noConflict(true);
</script>

{% include 'SkreenHouseFactoryV3Bundle::_ga.html.twig' with {tag : 'UA-6151896-16'} %}
{% endblock %}