{% extends 'SkreenHouseFactoryPartnersBundle::directmatin.html.twig' %}

{% block title %}title{% endblock %}
{% block description %}desc{% endblock %}


{% block content %}
{#
  '@SkreenHouseFactoryV3Bundle/Resources/public/bootstrap/less/variables.less'  
  '@SkreenHouseFactoryV3Bundle/Resources/public/bootstrap/less/glyphicons.less'
  #}
{% stylesheets
    '@SkreenHouseFactoryPartnersBundle/Resources/public/less/directmatin.less'
      filter='less,?yui_css'
      output='css/directmatin.css'
      %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}

<div id="view-home">
  {#
  <div class="pull-right">
    <form class="search" id="myskreen-search" action="http://www.myskreen.com/programmes/" method="get" accept-charset="utf-8">
    <input type="text" name="q" value="" placeholder="Un programme, un acteur, une chaîne, etc."><input type="submit" value="Rechercher avec mySkreen">
    </form>
  </div>
  #}
  {% for slider in home.sliders|to_array if slider.id is defined %}
    {% if loop.first %}
      {#<div class="main-slider">
      <div class="carousel-container">{% include 'SkreenHouseFactoryV3Bundle:Main:_carousel.html.twig' with {slider: slider, skip_autoload: true, skip_like: true} %}</div>
      </div>#}
    {% else %}
      {% set base_url = 'partners/directmatin/' %}
      {% if loop.index == 2 %}<div class="container">{% else %}<hr/>{% endif %}
        <div class="pack" id="pack-{{ slider.id }}">
        {% set programs = slider.programs|to_array %}
        {% if programs|first.picture is defined %}
        <img class="tease" src="{{ programs|first.picture }}" alt="{{ programs|first.title }}" />
        {% endif %}
        {% if slider.id in [4586427, 10913919] %}
        <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %}>{% if slider.seo_url is defined %}<a href="{{ path('any_url', {url: base_url ~ slider.seo_url[1:slider.seo_url|length-1]}) }}">{% endif %}Ce soir à la télé<small>Votre programme favori est diffusé ce soir et vous ne pourrez pas le voir. Repérez où et quand vous pourrez le revoir et soyez alerté par mail</small></a></h3>
        {% elseif slider.id in [3772173,3942417] %}
        <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %}>{% if slider.seo_url is defined %}<a href="{{ path('any_url', {url: base_url ~ slider.seo_url[1:slider.seo_url|length-1]}) }}">{% endif %}Ce qu’il fallait voir hier soir<small>Voici les programmes qui ont été plébiscités hier soir. Si vous les avez manqués, voici les meilleurs plans pour une session de rattrapage.</small></a></h3>
        {% elseif slider.id == 8239124 %}
        <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %}>{% if slider.seo_url is defined %}<a href="{{ path('any_url', {url: base_url ~ slider.seo_url[1:slider.seo_url|length-1]}) }}">{% endif %}Notre sélection 100% ciné<small>VOD, DVD : retrouvez ici les films qui viennent de faire le buzz sur petit écran et ne ratez aucune des rediffusions.</small></a></h3>
        {% elseif slider.id == 7845071 %}
        <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %}>{% if slider.seo_url is defined %}<a href="{{ path('any_url', {url: base_url ~ slider.seo_url[1:slider.seo_url|length-1]}) }}">{% endif %}Le meilleur des magazines<small>Tout le monde en parle ! Divertissements, spectacles, magazines. Retrouvez à volonté les stars d’aujourd’hui et de demain.</small></a></h3>
        {% elseif slider.id == 7845082 %}
        <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %}>{% if slider.seo_url is defined %}<a href="{{ path('any_url', {url: base_url ~ slider.seo_url[1:slider.seo_url|length-1]}) }}">{% endif %}Des séries à l'infini<small>Fini les séries gâchées par un épisode raté : faites votre programmation pour ne plus rien manquer des franchises événements.</small></a></h3>
        {% else %}
        <h3{% if slider.id is defined %} id="{{ slider.id }}-title"{% endif %}>{% if slider.seo_url is defined %}<a href="{{ path('any_url', {url: base_url ~ slider.seo_url[1:slider.seo_url|length-1]}) }}">{% endif %}{{ slider.title|replace({'<small>': '<br/><small>'})|raw }}{% if slider.seo_url is defined %}</a>{% endif %}</h3>
      {#% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %#}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <br/>
  <br/>
  <p align="right" class="footer-myskreen"><a href="http://www.myskreen.com/programme-tv">Replay TV</a> avec <a href="http://www.myskreen.com">mySkreen</a></p>
</div>

{#
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.8.3.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/modernizr.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/api.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/slider.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/helpers.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/_ui.js' 

    filter='?yui_js' 
    output='js/compiled/directmatin.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
API.init();
UiView.init($('#view-home'));

</script>
#}

{% include 'SkreenHouseFactoryV3Bundle::_ga.html.twig' with {tag : 'UA-6151896-16'} %}
{% endblock %}