{% extends 'SkreenHouseFactoryPartnersBundle::' ~ app.request.get('partner')|lower ~ '.html.twig' %}

{% block meta %}
{% if selection.programs|length < 6 %}
<meta name="robots" content="noindex,follow" />
{% endif %}
<meta property="og:title" content="{{ selection.name }}" />
<meta property="og:description" content="{{ selection.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.myskreen.com{{ selection.seo_url }}" />
{% if selection.picture %}
<meta property="og:image" content="{{ selection.picture }}" />
<link rel="image_src" href="{{ selection.picture }}" />
{% endif %}
<meta name="object_type" content="website" />

{% endblock %}
{% block title %}{{ selection.name|striptags }}{% endblock %}
{% block description %}{{ selection.description|replace({"\n": ''})|striptags|slice(0, 165) }}{% endblock %}
{% block body_class %}{% if selection.onglet.type == 'page' %}view-channel view-channel-selection cover{% endif %}{% endblock %}

{% block content %}
{#
  '@SkreenHouseFactoryV3Bundle/Resources/public/bootstrap/less/variables.less'  
  '@SkreenHouseFactoryV3Bundle/Resources/public/bootstrap/less/glyphicons.less'
  #}
{% stylesheets
   '@SkreenHouseFactoryPartnersBundle/Resources/public/less/directmatin.less'
      filter='less,?yui_css'
      output='css/directmatin.css'
      %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div id="view-selection" class="container">

  <ul class="breadcrumb">
    <li><a href="{{ path('any_url', {url: 'partners/directmatin/'}) }}"><span>Voir tout le replay</span></a></li>
  </ul>
  <br/>
  <br/>
  
  {% if selection.id in [4586427, 10913919] %}
    <h2>Ce soir à la télé</h2>
    <p>Votre programme favori est diffusé ce soir et vous ne pourrez pas le voir. Repérez où et quand vous pourrez le revoir et soyez alerté par mail.</p>
  {% elseif selection.id in [3772173,3942417] %}
    <h2>Ce qu’il fallait voir hier soir</h2>
    <p>Voici les programmes qui ont été plébiscités hier soir. Si vous les avez manqués, voici les meilleurs plans pour une session de rattrapage.</p>
  {% elseif selection.id == 8239124 %}
    <h2>Notre sélection 100% ciné</h2>
    <p>VOD, DVD : retrouvez ici les films qui viennent de faire le buzz sur petit écran et ne ratez aucune des rediffusions.</p>
  {% elseif selection.id == 7845071 %}
    <h2>Le meilleur des magazines</h2>
    <p>Tout le monde en parle ! Divertissements, spectacles, magazines. Retrouvez à volonté les stars d’aujourd’hui et de demain.</p>
  {% elseif selection.id == 7845082 %}
    <h2>Des séries à l'infini</h2>
    <p>Fini les séries gâchées par un épisode raté : faites votre programmation pour ne plus rien manquer des franchises événements.</p>
  {% else %}
    <h2>{{ selection.name|raw }}</h2>
    <p>{{ selection.description }}</p>
  {% endif %}
  <br/>
  <div id="selection-programs" class="slider slider-list">
    <ul class="items">
    {% for program in selection.programs|to_array %}
    {% include 'SkreenHouseFactoryV3Bundle:Main:_program.html.twig' with {p: program} %}
    {% endfor %}
    </ul>
  </div>
  <br/>
  <br/>
  <hr/>
  <ul class="nav">
    <li style="float:none;"><span>Replay à voir aussi</span></a></li>
    {% for pack in selection.onglet.sliders|to_array %}
    <li style="float:none;"><a href="{{ path('any_url', {url: 'partners/directmatin' ~ pack.seo_url}) }}">{{ pack.name|striptags }}</a></li>
    {% endfor %}
  </ul>
  <br/>
  <br/>
  <p align="right" class="footer-myskreen"><a href="http://www.myskreen.com/programme-tv">Replay TV</a> avec <a href="http://www.myskreen.com">mySkreen</a></p>
</div>

{#
{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.8.3.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/modernizr.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/api.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/slider.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/helpers.js' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/core/_ui.js' 

    filter='?yui_js' 
    output='js/compiled/directmatin.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
API.init();
UiView.init($('#view-home'));

$('#selection-programs.slider li:not(.selector)').on('click', function(e){
  e.preventDefault();
  e.stopPropagation();
  
  window.open($(this).find('a.title').attr('href'));
  return false;
})

</script>
#}

{% endblock %}
